<h1>Movie Recommandation</h1>

<div class="list">
    <div class="list-item">
        <div class="movie-poster">
            <img src="http://ia.media-imdb.com/images/M/MV5BMTYxMzYwODE4OV5BMl5BanBnXkFtZTgwNDE5MzE2MDE@._V1_SX300.jpg"
                alt="Divergent">
        </div>
        <div class="movie-content">
            <h3 class="title">
                <span class="rank">1.</span>
                Divergent
                <span class="year">2014</span>
            </h3>
            <div class="metadata">
                <span>USA</span>
                <span class="v-divider">|</span>
                <span>139</span>
                <span class="v-divider">|</span>
                <span>Adventure, Mystery, Sci-Fi</span>
            </div>
            <div class="metadata">
                <span>Director: Neil Burger</span>
            </div>
            <div class="rate">8.5<span class="weight">(Weight Avg:999)</span></div>
        </div>
    </div>
</div>